.richselect {
	display: inline-block;
	position: relative;
	padding: 2px;
	font-family: sans;
	font-size: 10pt;
	zoom: 1; /* IE has layout */
}
.richselect {
	border: 1px solid #999999;
	background-color: #cccccc;
}
.borderimage .richselect {
	border: none;
	-moz-border-image: url(richselect.png) 4;
	-webkit-border-image: url(richselect.png) 4;
	-o-border-image: url(richselect.png) 4;
	border-image: url(richselect.png) 4;
}
.js .richselect {
	-khtml-user-select: none;
	-webkit-user-select: none;
	-moz-user-select: -moz-none;
	user-select: none;
	cursor: default;
}
.js .richselect input,
.js .richselect select,
.js .richselect textarea {
	-khtml-user-select: auto;
	-webkit-user-select: auto;
	-moz-user-select: text;
	user-select: text;
}
.js .richselect input,
.js .richselect textarea {
	cursor: text;
}
.richselect img {
	vertical-align: middle;
}
.js .menu {
	display: block;
	position: absolute;
	z-index: 1;
	left: 0;
}
.js .jshidden {
	display: none;
}
